@font-face 
{
    font-family: 'newfont';
    src: url('../assets/fonts/ggsansMedium.ttf') format('truetype');
}

html
{
    font-family: 'newfont', sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

body 
{
    background-image: url('../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2a223d;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

img 
{
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

h1 
{
    text-align: center;
    margin-bottom: 20px;
}

label 
{
    font-weight: normal;
    margin-bottom: 5px;
}

input[type = "text"], input[type = "password"], input[type = "date"], input[type = "submit"], input[type = "email"]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #1e1e1e;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #e4e4e4;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

input:focus 
{
    outline: none;
}

button 
{
    width: 100%;
    padding: 15px;
    background-color: #5865f2;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-family: 'newfont', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover 
{
    background-color: #6d58a8;
    transform: scale(1.02);
}

button.active 
{
    background-color: #404249;
    color: #ffffff;
}


#login, #form-container
{
    background-color: #313338;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    display: none;
}

#ms1
{
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#ms2
{
    margin: 0;
    padding-bottom: 20px;
    color: #adadad;
    font-size: 20px;
    text-align: center;
}

#login.active, #form-container.active 
{
    display: block;
}

#link
{
    color: #00aafc;
    text-decoration: none;
    position: relative;
}

#link::after
{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #6d58a8;
    visibility: hidden;
    transform: translateX(-50%) scaleX(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#link:hover::after
{
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
}


.input-group 
{
    display: flex;
    margin-right: 26px;
    flex-direction: column;
    margin-bottom: 20px;
}

.button-group 
{
    display: flex;
    gap: 10px;               
    justify-content: center; 
}

.button-group button 
{
    display: inline-block;
}

.menu
{
    position: absolute;
    width: 100%;
    max-width: 450px;
    background-color: #34343c;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.menu.show 
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#options-button 
{
    background-color: #2b2d31; 
    font-family: 'newfont', sans-serif;
    color: #ffffff; 
    font-size: 14px; 
    border: none; 
    padding: 10px 15px; 
    margin: 5px 0;
    text-align: left;
    cursor: pointer; 
    border-radius: 3px;
    transition: background-color 0.2s ease; 
}

#options-button:hover 
{
    background-color: #35373c;
}

#options-button:active 
{
    background-color: #404249;
}

#options-button:focus 
{
    outline: none; 
    background-color: #404249;
}

#message 
{
    position: relative;
    background-color: #313338;
    border-radius: 50%;
    width: 50px;       
    height: 50px;      
    display: flex;     
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

#message:hover 
{
    background-color: #5865f1;
    border-radius: 4px;
}

#message:hover::after 
{
    content: 'Mensajes Directos'; 
    position: absolute;
    top: 50%;
    left: 110%; 
    transform: translateY(-50%);
    background-color: #2b2d31;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.friend-tab-button 
{
    background-color: #313338;
    color: white;
    border: none;
    width: 75px;
    padding: 8px 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-tab-button:hover 
{
    background-color: #3e4045;
}

#friend-tab-button:active 
{
    background-color: #404249;
}

.add-friend-button 
{
    background-color: #3ba55d;
    color: white;
    border: none;
    width: 120px;
    padding: 8px 1px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-friend-button:hover 
{
    background-color: #43c46b;
}