/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Header */
header {
    background-color: #1e90ff;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
}

header .logo img {
    height: 50px;
}

header .header-icons a {
    margin-left: 20px;
}

header .header-icons img {
    height: 100%;
}

header .header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

/* Categorías */
.categorias {
    padding: 20px;
    text-align: center;
}

.categorias h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.categoria-articulo {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categoria-articulo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.categoria-articulo p {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
