/* Contenedor de chat */
.chat-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    height: 400px;
    overflow-y: auto;
}

/* Estilo de mensaje */
.message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    word-wrap: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.message.received {
    align-self: flex-start;
    background-color: #fff;
}

.message .sender {
    font-weight: bold;
    font-size: 0.9rem;
}

.message .timestamp {
    font-size: 0.8rem;
    color: #777;
    margin-left: 10px;
}

.message .text {
    margin-top: 5px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}

/* Estilo del formulario */
textarea {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    resize: none;
}

button {
    background-color: #075e54;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #25d366;
}
/* Estilo del botón para bajar el chat */
#scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color verde similar al de WhatsApp */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    display: none; /* Oculto por defecto */
    z-index: 999;
}
