#chat_div {
    display: flex;
}

/* div izquierdo */
#friend_navbar {
    width: 20%;
    height: 100%;

    border-right: 0.1vw solid white;
}

/* div con texto "Amigos" */
#friend_navbar>:first-child {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 10%;

    font-size: 2vw;
    border-bottom: 0.1vw solid white;
}

/* Todos los divs excepto el primero */
#friend_navbar>:not(:first-child) {
    display: flex;
    padding: 0.5vw;

    cursor: pointer;

    align-items: center;
    height: 10%;
}

.new_messages_each_friend {
    position: absolute;
    right: 0.5vw;
    background-color: red;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-size: 1.2vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mostrar fondo más claro al pasar el ratón por encima */
#friend_navbar>:not(:first-child):hover {
    background-color: rgb(33, 33, 33);
}

/* Nombre del amigo */
#friend_navbar>:not(:first-child)>div {
    font-size: 2vw;
}

/* div derecho */
#chat_div>:last-child {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    padding: 0;
}

#user_header {
    display: flex;
    height: 10%;

    border-bottom: 0.1vw solid white;

    align-items: center;
}

/* Imagen del amigo seleccionado */
#user_header>img {
    display: block;

    width: 3.5vw;
    height: 3.5vw;
    border-radius: 2vw;

    margin-left: 1vw;
    margin-right: 1vw;
}

/* Nombre del amigo seleccionado */
#user_header>div {
    font-size: 2.2vw;
}

#chat {
    padding: 1vw;

    display: flex;
    flex-grow: 1;

    flex-direction: column-reverse;
    overflow: scroll;
}

#chat::-webkit-scrollbar {
    display: none;
}

/* Cada mensaje. */
.message_body {
    display: flex;
    width: 50%;
    padding: 0.5vw;

    margin-top: 1vw;
}

.message_body>img {
    display: block;

    width: 3.5vw;
    height: 3.5vw;
    border-radius: 2vw;

    margin-left: 1vw;
    margin-right: 1vw;
}

.message_body>div {
    overflow: hidden;

    width: 100%;
    border-radius: 1.5vw;
    padding: 1vw;
}

.message {
    font-size: 1.5vw;

    overflow-wrap: break-word;
}

#input_text {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw;
    margin: 0;
    margin-top: auto;

    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 1vw;
    border-radius: 2vw;
    padding: 1vw;
}