html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
}

#main_div {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: black;
    color: white;
}

#header {
    background-color: rgb(33, 33, 33);
    padding: 1.5vh;
    font-size: 5.5vh;

    display: flex;
    align-items: center;
}

#mytube_logo {
    width: 4vh;
    margin-right: 2vh;
}

#navbar_and_content {
    padding: 1vh;

    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#navbar {
    width: 4.5%;
}

#navbar>img {
    width: 100%;
    padding: 2vh;

    box-sizing: border-box;
}

#content {
    background-color: coral;

    flex-grow: 1;

    text-align: center;
    align-content: center;
}