html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
}

#main_div {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: black;
    color: white;
}

#header {
    background-color: rgb(33, 33, 33);
    padding: 1vw;
    font-size: 3vw;

    height: 8%;

    display: flex;
    align-items: center;

    border: 0.1vw solid white;
}

#mytube_logo {
    width: 2.5vw;
    margin-right: 1vw;
}

#header>div {
    display: flex;
    align-items: center;
}

#search_input {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    margin-left: 1vw;

    background-color: black;
    color: white;

    border: 0.1vw solid white;
    border-radius: 1.5vw;

    font-size: 1.5vw;
    padding: 1vw;
}

#user_logged_out_tab,
#user_logged_in_tab {
    height: 100%;
    font-size: 1.2vw;
    margin-left: auto;

    padding-left: 1vw;
    padding-right: 1vw;

    background-color: black;
    border: 0.1vw solid white;
    border-radius: 1.5vw;

    cursor: pointer;
}

#user_logged_out_tab>img,
#user_logged_in_tab>img {
    display: block;

    width: 3.5vw;
    height: 3.5vw;
    border-radius: 2vw;

    margin-right: 1vw;
}

#user_logged_out_tab>div,
#user_logged_in_tab>div {
    font-size: 2.2vw;
}

#navbar_and_content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#navbar {
    width: 4.5%;

    border: 0.1vw solid white;
    border-top: 0;
}

#navbar>img {
    display: block;

    width: 100%;
    padding: 1vw;

    box-sizing: border-box;
}

#navbar>img:hover {
    cursor: pointer;

    background-color: rgb(33, 33, 33);
}

#content {
    flex-grow: 1;

    text-align: center;
    align-content: center;

    border: 0.1vw solid white;
    border-top: 0;
    border-left: 0;
}

#content>div {
    height: 100%;
    width: 100%;
}

#notifications {
    position: absolute;
    right: 0;
    bottom: 0;

    margin-right: 1%;
    margin-bottom: 1%;

    /*background-color: rgb(166, 70, 70);
    border: 1px solid white;
    border-radius: 20px;*/
    color: red;

    width: 15%;
    height: 80%;

    font-size: 25px;

    display: flex;
    flex-direction: column-reverse;
}

.notification {
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    border-radius: 20px;

    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    margin-top: 5px;
}