#search_div {
    display: flex;
    flex-direction: column;

    align-items: center;

    font-size: 2vw;

    padding-top: 2%;

    overflow-y: scroll;
}

#search_div>div {
    width: 95%;
    padding-top: 2%;
}

#search_div>div>:first-child {
    margin-bottom: 2%;
    border-bottom: 0.1vw solid white;
}

/* Cada canal. */
#search_div>div>:not(:first-child)>div {
    display: flex;
    width: 50%;
    height: 8vw;

    padding: 1%;

    /*background-color:rgb(94, 96, 95);*/

    margin-bottom: 1vw;
    cursor: pointer;
}

#search_div>div>:not(:first-child)>div:hover {
    background-color: rgb(40, 40, 40);
}

.search_user_image {
    display: block;

    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    margin-right: 1vw;
}

#search_div>div>:not(:first-child)>div>:last-child {
    display: flex;

    margin: auto;
    margin-right: 0;
}

.subscription,
.unsubscription,
.chat_button {
    border: 0.2vw white solid;
    border-radius: 1vw;
    padding: 1vw;

    font-size: 1.3vw;

    margin: auto;
    margin-right: 0;

    cursor: pointer;

    z-index: 3;

    transition: background-color 0.3s;

    text-align: center;

    height: 20%;
}

.subscription,
.unsubscription {
    margin-right: 0.1vw;
}

.subscription:hover {
    background-color: red;
}

.unsubscription {
    background-color: red;
}

.unsubscription:hover {
    background-color: transparent;
}

.friend_button {
    background-color: blue;
}